node_modules
dist
build
coverage
.turbo
.DS_Store
*.log
.env
.env.local
apps/backend/data
apps/backend/uploads
apps/frontend-editor-server/data
*.sqlite
*.sqlite-journal
.idea
.vscode/*
!.vscode/extensions.json
minio/*.exe
minio/data
.venv
__pycache__
*.py[cod]